@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
.appmain {
  max-width: 60%;
  margin: auto;
  margin-top: 30px;
}
.mainheader {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 40px;
  margin: auto;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: white;
}

.taskcard {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  border: solid;
  display: grid;
  grid-template-columns: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: rgb(228, 228, 228);
  border-radius: 10px;
  background-color: white;
}

.taskgrid1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

.descgrid2 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  padding: 16px;
  margin: 0px;
}

.startgrid3 {
  text-align: center;
  font-size: 10px;
}

.startgriddate {
  font-size: 15px;
  margin: 5px;
}
.endgrid4 {
  text-align: center;
  font-size: 10px;
}

.endgriddate {
  font-size: 15px;
  margin: 5px;
}

.editbutton {
  grid-column-start: 1;
  grid-column-end: 4;
  color: white;
  background-color: rgb(255, 196, 93);
  border-bottom-left-radius: 9px;
  border: 0px;
  padding: 5px;
}
.editbutton:hover {
  background: rgb(255, 182, 56);
}

.deletebutton {
  grid-column-start: 4;
  grid-column-end: 7;
  color: white;
  background-color: red;
  border-bottom-right-radius: 9px;
  border: 0px;
  padding: 5px;
}

.deletebutton:hover {
  background: rgb(231, 0, 0);
}
