.createtaskbox {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  border: solid, 1px;
  border-color: rgb(228, 228, 228);
  border-radius: 10px;
}
.taskinputgrid1 {
  display: grid;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 5px;
}

.descriptioninputgrid2 {
  display: grid;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 5px;
}

.startgrid3 {
  display: grid;
  align-items: center;
  grid-column-start: 6;
  grid-column-end: 6;
  margin: 5px;
}

.endgrid4 {
  display: grid;
  align-items: center;
  grid-column-start: 6;
  grid-column-end: 6;
  margin: 5px;
}

.createbutton {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  color: white;
  background-color: rgb(65, 122, 255);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border: 0px;
  padding: 5px;
}
.createbutton:hover {
  background: rgb(30, 97, 255);
}
.tasklabel {
  text-align: center;
}

.desclabel {
  text-align: center;
}

.taskinputarea {
  display: grid;
  align-items: center;
  justify-items: center;
}

.descinputarea {
  align-items: center;
}
