.createtaskbox {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}
.taskinputgrid1 {
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  border: solid;
}

.descriptioninputgrid2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border: solid;
}

.startgrid3 {
  grid-column-start: 3;
  grid-column-end: 3;
  border: solid;
}

.endgrid4 {
  grid-column-start: 3;
  grid-column-end: 3;
  border: solid;
}

.createbutton {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
}
.tasklabel {
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.desclabel {
  writing-mode: tb-rl;
  transform: rotate(180deg);
}
